<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

    <!-- Header -->
    <%- include('./partials/header') %>
        <!-- Header -->

    

            <div class="col-12 col-md-4">

                <h2 class = "login-title">Iniciar Sesión</h2>
                <form action="/routes/login.js" method="get">

                    <div> 
                        <label for = "email"> Usuario: </label>
                        <input type="email" name="usuario" placeholder="Email" required>
                    </div>

                    <div> 
                        <label for = "contraseña"> Contraseña: </label>
                        <input type="password" name="contraseña" id="contraseña" required>
                    </div>

                    <div> 
                        <label for = "recordarme" > Recordar informacion de inicio de sesion</label>
                        <input type="checkbox" name="recordarme" id="recordarme">
                    
                    <div>
                        <button type="submit">Login</button>
                    </div>

                </form>
            </div>
        


    