# Dependencias
node_modules/

# Archivo Config
db/config/config.js

# Archivos de entorno
.env

# Logs
logs/
*.log
npm-debug.log*

# Directorio de salida de compilación
dist/

# Archivos de configuración del editor
.vscode/
.idea/
*.sublime-workspace

# Archivos de paquetes
package-lock.json

# Archivos de compilación de macOS
.DS_Store

# Archivos de compilación de Windows
Thumbs.db
