<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
<!-- Header -->
<%- include('./partials/header') %>
<!-- Header -->

    <div class="form-div">
        <h2 class="products-title bebas-neue-regular">Iniciar Sesión</h2>

            <form action="/profile" method="get" class="forms poppins-regular">

                <div class="form-label-div">
                    <label for="email" class="form-label"> Usuario: </label>
                    <input type="email" name="email" placeholder="Email" required class="input-text"> 
                </div>

                <div class="form-label-div">
                    <label for="contraseña" class="form-label"> Contraseña: </label>
                    <input type="password" name="contraseña" id="contraseña" required class="input-text">
                </div>

                <div class="form-label-div">
                    <label for="recordarme" class="form-label"> Recuérdame</label>
                    <input type="checkbox" name="recordarme" id="recordarme">
                </div>
    
                <div class="form-label-div">
                    <button type="submit" class="form-submit">Login</button>
                </div>

            </form>
    </div>
            
<!-- /Footer -->
<%- include('./partials/footer') %>
<!-- /Footer -->
</body>
</html>