<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
<!-- Header -->
<%- include('./partials/header-logueado') %>
<!-- Header -->

	<div class="form-div">
		<h2 class = "products-title bebas-neue-regular">Agregar productos</h2>

		<form action="/products" method="get" class="forms poppins-regular">

			<div class="form-label-div"> 
				<label for = "image" class="form-label"> Imagen: </label>
				<input type="file" name="Imagen" accept="accept/*" placeholder="Ingresar imagen" required class="input-text">		
			</div>

			<div class="form-label-div"> 
				<label for = "nombre" class="form-label"> Nombre del producto: </label>
				<input type="text" name="nombre" id="nombre" required class="input-text">
			</div>

			<div class="form-label-div"> 
				<label for = "descripcion"> Descripcion del producto: </label>
				<input type="text" name="descripcion" id="descripcion" required class="input-text">
				
			<div class="form-label-div">
				<button type="submit" class="form-submit">Agregar</button>
			</div>

		</form>			
	</div>

<!-- /Footer -->
<%- include('./partials/footer') %>
<!-- /Footer -->
</body>
</html>